
.post-title {
  font-size: 2em;
  margin-top: 1em;
  margin-bottom: 2px;
}

.post-subtitle {
  font-size: 0.85em;
  font-weight: normal;
  padding: 3px 6px;
  margin: 3px 0 1em;
  color: #808080ed;
  border-bottom: 1px solid #80808044;
}

.post-excerpt {
  margin: 1em auto 3em;
  font-size: 1.1em;
}

.post-content {
  font-size: 1.2em;
  line-height: 1.5em;
  margin: 1em auto 3em;

  p {
    line-height: 1.85em;
    padding: 18px 9px;
  }

  figure {
    max-width: 100%;
    text-align: center;
    font-size: 0.85em;

    img {
      display: block;
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
  }

  pre {
    font-size: 0.85em;
    background-color: #eeeeee;
    padding: 1em;
    border-radius: 4px;
    border: 1px inset var(--color-blue);
    margin: 1em auto;
    overflow-x: auto;
  }
}

.note-box {
  border: 1px solid #80808080;
  background-color: #80808022;
  padding: 16px;
  margin: 8px;
  border-radius: 5px;
}

@media (prefers-color-scheme: dark) {
  .post-title {
    color: var(--color-blue-alt);
  }

  .post-content {
    p code {
      max-width: 100%;
      white-space: pre-wrap;
    }
    pre {
      border-color: var(--color-blue-alt);
      background-color: var(--color-gray-500);
    }
  }
}
