@import "purecss";
@import "purecss/build/grids-responsive";
@import "utils/colors.css";
@import "utils/spacing.css";

hr {
  height: 2px;
  border: none;
  background-color: var(--color-blue);
}

html,
body {
  background: #ffffff;
  color: #000000;
}

hr {
  background-color: var(--color-blue);
}

a {
  color: var(--color-blue-alt);
  text-decoration: none;
  transition: color 100ms ease-in-out;

  &:active,
  &:hover {
    color: var(--color-blue);
  }
}

/* Link Blocks on the Home Page */
.link-block-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .link-block {
    margin: 1rem;
    max-width: 100%;
    width: 200px;
    height: 200px;
    text-align: center;
    border-radius: 4px;
    font-size: 1.5rem;
    color: #ffffff;
    border: 1px solid var(--color-gray-100);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: var(--color-gray-300);
    transition: box-shadow 100ms ease-in-out,
                background-color 100ms ease-in-out,
                color 100ms ease-in-out,
                border-color 100ms ease-in-out;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.5);
      background-color: var(--color-blue-alt);
      color: #ffffff;
      border-color: var(--color-blue);
      text-decoration: none;
    }
  }
}

@media (prefers-color-scheme: dark) {
  html,
  body {
    background: var(--color-gray-400);
    color: #fff;
  }

  hr {
    background-color: var(--color-blue-alt);
  }

  a {
    color: var(--color-blue-alt);

    &:active,
    &:hover {
      color: var(--color-green);
      text-decoration: underline;
    }
  }

  /* Link Blocks on the Home Page */
  .link-block-container {

    .link-block {
      color: var(--color-blue-light);
      border-color: var(--color-blue-light);
      background-color: var(--color-blue);

      &:hover {
        background-color: var(--color-blue-alt);
        color: #ffffff;
        border-color: var(--color-green);
      }
    }
  }
}
