
.vector-example-section {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 1em;

  &:not(:last-child) {
    border-bottom: 1px solid #80808080;
  }


  .vector-container,
  .vector-description {
    border: 1px solid #80808080;
    border-radius: 4px;
    padding: 2em;
    margin: 0.25em;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.75);
    background-color: #80808020;
  }
  .vector-container {
    flex-grow: 1;

    object, svg, img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  .vector-description {
    max-width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.reference-section {
  margin-top: 2em;
  margin-bottom: 3em;

  p {
    padding: 1em;
    background-color: var(--color-gray-300);
    display: block;
    border-radius: 5px;
  }
}

.vector-and-code-wrapper {
  display: flex;
  align-items: center;
  border-radius: 5px;
  border: 1px solid var(--color-blue-alt);
  margin: 2em auto;

  .vector-wrapper,
  .code-wrapper {
    /* outline: 1px dashed red; */
    flex-grow: 1;
    padding: 15px;
  }

  .vector-wrapper {
    svg {
      display: block;
      margin: 0 auto;
    }
  }
  .code-wrapper {}
}

/* Mobile */
@media (max-width: 768px) {
  .vector-example-section {
    display: block;

    .vector-description {
      max-width: 100%;
      margin-top: 1em;
    }
  }

  .vector-and-code-wrapper {
    display: block;

    .vector-wrapper,
    .code-wrapper {
      margin: 0 auto;
    }
    .vector-wrapper {}
    .code-wrapper {
      border-top: 1px solid var(--color-blue-alt);
    }
  }
}

/* Desktop */
@media (min-width: 768px) {
  .vector-example-section {

    .vector-description {
      margin-left: 1em;
    }
  }

  .vector-and-code-wrapper {
    .vector-wrapper {}
    .code-wrapper {
      border-left: 1px solid var(--color-blue-alt);
    }
  }
}
