.keyboard-container {
  position: relative;
  border: 1px solid #404040;
  background-color: #40404080;
  padding: 25px;
    box-shadow: 0 4px 8px 0 #00000040,
                0 6px 20px 0 #0000003a;

  .keyboard-keys {

    min-width: 0px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
  }
  .key {
    display: inline-block;
    border: 1px solid transparent;
    text-align: center;
  }
  .key.key-white {
    width: 60px;
    height: 300px;
    border-color: #fff;
    background-color: #ffffffcc;
  }
  .key.key-black {


    width: 40px;
    height: 240px;
    border-color: #000;
    background-color: #000000cc;
  }

}


/* -------------------------------------------------------------------------- */

/* code source: https://dev.to/codingcss/playable-piano-using-html-css-and-javascript-5g6c */
.piano-container {

  display: flex;

  position: absolute;

  transform: translate(-50%, -50%);

  left: 50%;

  top: 50%;

  padding: 4em 1em 1em 1em;

  border-radius: 0.62em;

  background-color: #24272e;

  box-shadow: 0 2em 4em rgba(7, 0, 53, 0.25);

}

.white-key {

  width: 4.37em;

  height: 17.5em;

  background-color: #ffffff;

  border-radius: 0 0 0.3em 0.3em;

  border: 2px solid #24272e;

  box-sizing: border-box;

  cursor: pointer;

}

.white-key:hover {

  background-color: #ebebeb;

}

.black-key {

  width: 2.5em;

  height: 10em;

  border-radius: 0 0 0.3em 0.3em;

  box-sizing: border-box;

  position: absolute;

  background-color: #070a0f;

  cursor: pointer;

}

.black-key:hover {

  background-color: #24272e;

}

.black-key:nth-child(1) {

  left: 4em;

}

.black-key:nth-child(2) {

  left: 8.37em;

}

.black-key:nth-child(3) {

  left: 17.12em;

}

.black-key:nth-child(4) {

  left: 21.5em;

}

.black-key:nth-child(5) {

  left: 25.87em;

}

.black-key:nth-child(6) {

  left: 34.62em;

}

.black-key:nth-child(7) {

  left: 39em;

}

.black-key:nth-child(8) {

  left: 47.75em;

}

.black-key:nth-child(9) {

  left: 52.12em;

}

.black-key:nth-child(10) {

  left: 56.5em;

}

@media screen and (max-width: 1000px) {

  .piano-container {

    font-size: 0.7em;

  }

}

@media screen and (max-width: 700px) {

  .piano-container {

    font-size: 0.5em;

  }

}

@media screen and (max-width: 500px) {

  .piano-container {

    font-size: 0.3em;

  }

}
