@import '@/styles/reset.css';

body,
html {
  background: #333;
  color: #fff;
}

.test-section {
  /* outline: 2px dashed #ff0000cc; */
  border: 2px dashed #ff0000cc;
  padding: 4px;
  margin: 4px;
}
