
:root {
  --m1: 0.25em;
  /* --m2: ???; */ /* todo */
  /* --m3: ???; */ /* todo */
  /* --m4: ???; */ /* todo */
  /* --m5: ???; */ /* todo */
  /* etc */
}

/* Width */
.w-auto { width: auto; }
.w-100 { width: 100%; }
.max-w-screen { max-width: 100vw; }

/* Margin */
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.m-1 {
  margin: var(--m1);

}

mx-1 {
  margin-left: var(--m1);
  margin-right: var(--m1);
}
